/* Universal */

body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;    
}
/* header section*/
.header {
    text-align: center;
}
/* hero section */
.hero {
    padding: 20% 2%;
}

