/* Universal */

body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 19px;    
}

i {
    font-size: 25px;
}

/* header section*/
.header {
    text-align: center;
}

/* navbar */
.navbar {
    margin: 15px auto;
}

/* hero section */
.hero {
    padding: 20% 2%;
}

.icon-box {
    margin: 10% 0;
}



