/* Universal */

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 2rem;
}

h1 {
    font-size: 30px;
}

/* header section*/
.header {
    text-align: center;
}
/* hero section */
.hero {
    padding: 20% 2%;
}

